
ibt~/.DS_Store
ibt~/ibt~.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ibt~/ibt~.xcodeproj/project.xcworkspace/xcuserdata/nao.xcuserdatad/UserInterfaceState.xcuserstate
ibt~/ibt~.xcodeproj/xcuserdata/nao.xcuserdatad/xcschemes/max-external.xcscheme
ibt~/ibt~.xcodeproj/project.xcworkspace/xcuserdata/nao.xcuserdatad/UserInterfaceState.xcuserstate
